PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=backend_auth
DATABASE_SYNCHRONIZE=false

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=1h
